.table_art {
  width: 90%;
}
.table_header_cart {
  width: 480px;
}

.table_cart {
  width: 100%;
}
td {
  border: 1px solid;
}
h1 {
  margin-left: 450px;
  font-size: 40px;
}
h2 {
  margin-left: 355px;
  font-size: 40px;
}

div {
  margin-left: 520px;
  width: 180px;
}

.button_add {
  margin-left: 3px;
}
.button_home {
  margin-left: -1060px;
}
.button_viewCart {
  margin-left: 890px;
  margin-top: 20px;
}

.container {
  margin-top: 30px;
}
.title {
  font-size: 50px;
  margin-left: 300px;
}
.table {
  margin-top: 60px;
}
#viewCart_button {
  margin-left: 950px;
}
#addArt_button {
  margin-left: -400px;
}
#header {
  width: 750px;
}
.cart_title {
  margin-left: 250px;
}
#home_button {
  margin-right: 400px;
}
.iva {
  margin-left: 30px;
}

#view_form {
  margin-left: -70px;
}
#save_button {
  margin-left: 520px;
}
.title_form {
  margin-left: 511px;
}
